

*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    /*COLORES*/
    --body-color: #E4E9F7;
    --sidebar-color: #fff;
    --primary-color: #070239;
    --primary-color-light: #F6F5FF;
    --toogle-color: #DDD;
    --text-color: #707070;
    /*TRANSICIONES*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body.dark{
    /*COLORES*/
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toogle-color: #FFF;
    --text-color: #CCC;
}


.table-cliente {
    border-collapse: collapse;
    width: 100%;

    
}


.table-cliente tbody{
    background: var(--body-color);
    color: var(--text-color);
}
.table-cliente th, td {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
    
}

.table-cliente th {
    background: var(--primary-color-light);
    color: var(--text-color);
}

.table-cliente tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-cliente .celdad-cliente:hover {
    background: var(--toogle-color);
    color: var(--primary-color);

}


/* Estilos para el bot贸n "EDITAR" */
.btn-editar-cliente {
    background-color: #3498db; 
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    color: white;
}

/* Estilos para el bot贸n "ELIMINAR" */
.btn-eliminar-cliente  {
    background-color: #e74c3c; 
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    color: white;
}

/* Estilos para el bot贸n "REGISTRAR MASCOTA" */
.btn-crear-mascota  {
    background-color: #27ae60; 
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    color: white;
}


/*MODAL REGISTRAR CLIENTE */
.btn-modal {
    padding: 10px 20px;
    font-size: 16px;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Fondo oscuro semi-transparente */
}

/* Estilos para el contenido del modal */
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 1600px;
    max-height: 1000px;
}

/* Estilos para el bot贸n de cerrar el modal */

